{% extends 'layout/default.twig' %}

{% block title %}Página principal{% endblock %}

{% block content %}
	<section class="section">
		<div class="container">
			<h1 class="title">
				¡Hola mundo!
			</h1>
			<p class="subtitle">
				Ésta plantilla está en <code>src/Infrastructure/Twig/View</code>. Edítala cómo estimes oportuno. {{ emoji|raw }}
			</p>
		</div>
	</section>
{% endblock %}
