{% extends 'layout/default.twig' %}

{% block title %}Página principal{% endblock %}

{% block content %}
	<section class="section">
		<div class="container">
			<h1 class="title">
				¡Hola mundo!
			</h1>
			<p class="subtitle">
				Ésta plantilla está en <code>src/view</code>. Edítala cómo estimes oportuno. &#128512;
			</p>
		</div>
	</section>
{% endblock %}
